.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container {
    padding: 100px 50px;
}

@media screen and (max-width: 1000px) {
    .shop-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .products-container {
        order: last;
    }
}