.header {
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 140px;

}

.header a {
    /* color: white; */
    margin-left: 36px;
    text-decoration: none;
    font-size: 17px;
}

.header a:hover {
    color: orangered;
    transition: all 0.5s;
}

.active {
    /* background-color: deeppink; */
    color: orangered;

}

.btn-logout {
    margin-left: 10px;
    padding: 5px;
}


@media screen and (max-width:768px) {
    .header {
        flex-direction: column;
    }
}